**/__pycache__
.idea
AI-Adventure-2bb65e3a4e2f.json
**/__pycache__
*.py[cod]
venv/
.vscode/
.env/
generator/gpt2/models/
saved_stories/
saves/*
story*.json
!*.gitkeep
/prompts/*
!/prompts/cloveranon-prompts/*
/generator/gpt2/models/*
/models/*
!/models/.gitkeep
.vscode/
.idea/
.python-version
config.ini
